build.*
.cache
*.swp
*.swo
*.swn
doc/json/pureqml-web.json
doc/json/pureqml-web/*
doc/json/pureqml-web.code_samples.json
doc/json/pureqml-web.code_samples/
doc/json/pureqml-web.lessons.json
doc/json/pureqml-web.lessons/
